
body{
    display: flex;
    justify-content: center;
    height: 1000px;
    width: 1000px;
}

main{
}

#board-area {
}

#board {
    display: grid;
    height: 200px;
    width: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black ;
}

.board-square {
    border: 2px solid black ;
}